.idea
.settings
.vscode
bin
classes
*.classpath
*.project
*.iml

/classes/
/bin/
/out/

/_1_SpringFirstSteps/lib/

/_2_Spring_MVC/WebContent/WEB-INF/lib/

/_3_Intro_to_Hibernate/target/

/_4_WebApp_SpringMVC_Hibernate/target/

/_5_Spring_AOP/_5.1_Spring_AOP_examples/target/
/_5_Spring_AOP/_5.2_Spring_AOP_WebApp/target/

/_7_Spring_Security_project/_7.1_Spring_Security_base_app/target/
/_7_Spring_Security_project/_7.2_Spring_Security_security_app/target/
/_7_Spring_Security_project/_7.3_Spring_Security_security_app_DB/target/

# MVN wrapper
/_7_Spring_Security_project/_7.2_Spring_Security_security_app/mvnw
/_7_Spring_Security_project/_7.2_Spring_Security_security_app/mvnw.cmd
/_7_Spring_Security_project/_7.2_Spring_Security_security_app/.mvn/

/_7_Spring_Security_project/_7.3_Spring_Security_security_app_DB/.mvn/
/_7_Spring_Security_project/_7.3_Spring_Security_security_app_DB/mvnw

/mvnw.cmd
/mvnw
/.mvn/
/_8_Spring_REST/_8.1_jackson_databinding_json/target/
/_8_Spring_REST/_8.2_Spring_REST/target/
/_8_Spring_REST/_8.3_Spring_CRM_REST_API/target/
/_8_Spring_REST/_8.4_Spring_CRM_REST_CLIENT/target/
